additionalTrustBundlePolicy: Proxyonly
apiVersion: v1
baseDomain: {{ base_zone }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
{% if openshift.workers is defined %}
  replicas: {{ openshift.workers }}
{% else %}
  replicas: 3
{% endif %}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ openshift.name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_region }}
publish: External
pullSecret: '{{ pull_secret }}'
