.venv
.aws-credentials*
execution-environment/context
extra-vars.yml
extra-vars-gitops.yml
testing*
provision_lab-artifact*
ansible-navigator.log
provisioner/na-tech-exchange
aap.tar.gz
manifest.zip
provisioner/tech-exchange*
tmp
exercises/rhde_aw_120/solutions
*extra-vars.yml
provisioner.log
provision.log
.DS_Store
*local-inventory*
*local.inventory*
provisioner/on-ocp.yml
roles/setup_gitea/templates/Containerfile.j2
roles/setup_gitea/templates/docker-compose.yml
roles/source_control
tmp*
restart.sh
roles/containerized_eda
*.extra-vars.yml
*node_modules*
export.yml
aap-containerized-installer
old-vars-files
.vscode
test.*
install-containerized*
start_workshop-artifact*
export.json*
import.json*
*-artifact*.json
ssh-key.pem
ssh-key.pub
provisioner/training.sandbox*/
test_*
provision_files/
provisioner/workshop_vars/rhde_gitops.yml