interface={{ wlan_interface }}
driver=nl80211
beacon_int=100
hw_mode=g
ieee80211n=1
wme_enabled=1
country_code=US
ssid={{ wlan_ssid }}
ieee80211d=1
channel=3
wpa=2
wpa_passphrase={{ wlan_passphrase }}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP
auth_algs=1
macaddr_acl=0
ignore_broadcast_ssid=0