{% for student_number in range(1, student_total + 1) %}
---
apiVersion: v1
kind: Service
metadata:
  name: mqtt
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  labels:
    app.kubernetes.io/part-of: process-control
spec:
  ports:
  - port: 1883
    protocol: TCP
    targetPort: 1883
  selector:
    application: mqtt-broker
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt-broker
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  labels:
    app.kubernetes.io/name: mqtt-broker
    app.kubernetes.io/part-of: process-control
    application: mqtt-broker
spec:
  selector:
    matchLabels:
      application: mqtt-broker
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mqtt-broker
        app.kubernetes.io/part-of: process-control
        application: mqtt-broker
    spec:
      containers:
        - name: mqtt
          image: quay.io/device-edge-workshops/process-control-mqtt:1.0.0
          ports:
            - containerPort: 1883
              name: mqtt-port
          resources:
            limits:
              memory: 100Mi
              cpu: 100m
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulate
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  labels:
    app.kubernetes.io/name: simulate
    app.kubernetes.io/part-of: process-control
    application: simulate
spec:
  selector:
    matchLabels:
        application: simulate
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: simulate
        app.kubernetes.io/part-of: process-control
        application: simulate
    spec:
      containers:
        - name: simulate
          image: quay.io/device-edge-workshops/process-control-simulate-k8s:1.0.0
          resources:
            limits:
              memory: 100Mi
              cpu: 100m
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: control
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  labels:
    app.kubernetes.io/name: control
    app.kubernetes.io/part-of: process-control
    application: control
spec:
  selector:
    matchLabels:
      application: control
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: control
        app.kubernetes.io/part-of: process-control
        application: control
    spec:
      containers:
      - name: control
        image: quay.io/device-edge-workshops/process-control-control-k8s:4.0.0
        resources:
          limits:
            memory: 250Mi
            cpu: 100m
---
apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  labels:
    app.kubernetes.io/part-of: process-control
spec:
  ports:
  - port: 1880
    protocol: TCP
    targetPort: 1880
  selector:
    application: ui
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-deployment
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  labels:
    app.kubernetes.io/name: ui
    app.kubernetes.io/part-of: process-control
    application: ui
spec:
  selector:
    matchLabels:
      application: ui
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ui
        app.kubernetes.io/part-of: process-control
        application: ui
    spec:
      containers:
      - name: ui
        image: quay.io/device-edge-workshops/process-control-ui-k8s:4.0.0
        ports:
          - containerPort: 1880
            name: http-ui-port
        resources:
          limits:
            memory: 250Mi
            cpu: 100m
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: process-control-ui-route
  namespace: student{{ student_number }}-workshop-{{ workshop_type | regex_replace('_', '-') }}
  annotations:
    haproxy.router.openshift.io/rewrite-target: /ui
  labels:
    app.kubernetes.io/part-of: process-control
spec:
  host: process-control-ui-student{{ student_number }}.apps.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}
  to:
    kind: Service
    name: ui
  port:
    targetPort: 1880
  tls:
    termination: edge
{% endfor %}