#!/bin/bash

nmcli radio wifi on
sleep 5
nmcli dev wifi rescan
sleep 5
nmcli dev wifi list
nmcli dev wifi connect {{ lab_wifi_network.ssid }} password '{{ lab_wifi_network.password }}'

IP_ADDRESS=$(nmcli conn show {{ lab_wifi_network.ssid }} | grep ip_address | awk '{print $4}')
MAC_ADDRESS=$(ip addr | grep wlp -A 1 | grep link | awk '{print $2}' | sed 's/://g')
STUDENT='{{ student_number }}'

JSON="{\
\"ip_address\": \"\$IP_ADDRESS\", \
\"student\": \"\$STUDENT\", \
\"mac_address\": \"\$MAC_ADDRESS\" \
}"

/usr/bin/curl -H 'Content-Type: application/json' --data "$JSON" https://eda.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}/endpoint
