{% if wifi_network is defined and wifi_password is defined %}
%pre
nmcli dev wifi connect "{{ wifi_network }}" password "{{ wifi_password }}"
%end
{% endif %}
{% if wifi_network is not defined  %}
network --bootproto=dhcp --onboot=true
{% endif %}
keyboard --xlayouts='us'
lang en_US.UTF-8
timezone UTC
zerombr
clearpart --all --initlabel
autopart --type=plain --fstype=xfs --nohome
reboot
text
user --name=ansible --groups=wheel --password='{{ admin_password }}'
rootpw --plaintext --lock '{{ admin_password }}'
services --enabled=ostree-remount
ostreesetup --nogpg --url=https://ostree-repo.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}:443/repo --osname=rhel --ref=rhel/9/x86_64/edge
