import React from "react";
import { BackgroundImage, Divider, LoginForm, LoginPage, StackItem } from "@patternfly/react-core";
import { Link } from 'react-router-dom';
import { BrowserRouter as Router, Routes, Route, useNavigate } from 'react-router-dom';
import { useState } from "react";

import {
  Bullseye,
  Stack,
  Title,
  Button,
  TitleSizes,
  Flex,
} from '@patternfly/react-core';
import AnisbleIcon from '@patternfly/react-icons/dist/esm/icons/ansible-tower-icon';
import Background from './images/pfbg_1200.jpg';
import RedHat from './images/Logo-Red_Hat-B-Reverse-RGB.png'



function PassPage() {
  const [val, setVal] = useState("Password")
  let navigate = useNavigate();
  const onLogin = () => { 
    if (val === "{{ admin_password }}") {
        let path = '/Homepage'
        navigate(path)
    } else {
    alert("Password incorrect, please try again")
    }
  }
  const onChangePassword = (_event, value) => {
    setVal(value.target.value)
  }
  return (
    <span>
      <BackgroundImage src={Background} />
        <LoginPage>
          <LoginForm usernameLabel='Username' usernameValue= "Students" passwordLabel='Password' passwordValue={val} onChangePassword={onChangePassword} onLoginButtonClick={onLogin}>
        </LoginForm>
        </LoginPage>
        <div className='page-padding'>
        </div>
    </span>
  );
  
};

export default PassPage; 