import React from "react";
import { BackgroundImage, Divider, LoginForm, LoginPage, StackItem } from "@patternfly/react-core";
import { Link } from 'react-router-dom';
import { BrowserRouter as Router, Routes, Route, useNavigate } from 'react-router-dom';
import { useState } from "react";

import {
  Bullseye,
  Stack,
  Title,
  Button,
  TitleSizes,
  Flex,
  LoginForm,
} from '@patternfly/react-core';
import AnisbleIcon from '@patternfly/react-icons/dist/esm/icons/ansible-tower-icon';
import Background from '../images/pfbg_1200.jpg';
import RedHat from '../images/Logo-Red_Hat-B-Reverse-RGB.png'

const [val, setVal] = useState("Password")
  const onLogin = () => { 
    if (val === "{{ admin_password }}") {
        useNavigate('/Homepage')
    } else {
    alert("Password incorrect, please try again")
    {
  }
  const onChangePassword = (_event, value) => {
    setVal(value.target.value)
  }
const PassPage = () => {
  return (
    <span>
      <BackgroundImage src={Background} />
        <LoginPage>
          <LoginForm usernameLabel='Username' usernameValue= "Username" passwordLabel='Password' passwordValue='' onChangePassword={onChangePassword} onLoginButtonClick={onLogin}>
          </LoginForm>
        </LoginPage>
        <div className='page-padding'>
        </div>
    </span>
  );
};

export default PassPage;