---

- name: create dir for student pages
  ansible.builtin.file:
    path: "{{ build_dir }}/attendance/student-pages"
    state: directory

- name: template out student pages
  ansible.builtin.template:
    src: "templates/{{ workshop_type }}/attendance-Overview.js.j2"
    dest: "{{ build_dir }}/attendance/student-pages/Overview{{ student_number }}.js"
  loop: "{{ range(1, (student_total + 1), 1)|list }}"
  loop_control:
    loop_var: student_number
