---

- name: run a Template on controller to update image in microshift
  hosts:
    - all
  gather_facts: false
  vars:
    controller_hostname: controller.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}
    controller_username: admin
    controller_password: "{{ admin_password }}"
    controller_validate_certs: false
    controller_launch_jobs:
      - name: Update Microshift APP
        wait: true
{% raw %}
        organization: "Student{{ student }} Organization"
        extra_vars:
          namespace: "{{ name }}" 
          deployment: "{{ name }}" 
          container: "{{ name }}" 
          image: "{{ image }}"
          tag: "{{ tag }}"
{% endraw %}
  roles:
    - /opt/eda/collections/ansible_collections/redhat_cop/controller_configuration/roles/job_launch
