#!ipxe
set sleeptime 60
menu Boot Selection
item --gap -- --- Select Student Number to Build Edge Device ---
item
{% for student_number in (range(1, (student_total+1), 1)|list) %}
item student{{ student_number }} Provision Student{{ student_number }} Edge Device
{% endfor %}
item
item --gap -- --- Alternatives ---
item --key r reboot (R)eboot computer
item --key x exit E(x)it and continue BIOS boot order
item
choose student
goto ${student}

{% for student_number in (range(1, (student_total+1), 1)|list) %}
:student{{ student_number }}
kernel http://ipxe.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}/pxeboot/vmlinuz inst.stage2=http://ipxe.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}/pxeboot quiet None inst.ks=http://ostree-repo.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}/student-kickstarts/student{{ student_number }}/kickstart.ks None initrd=initrd.img || goto download_fail
initrd http://ipxe.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}/pxeboot/initrd.img || goto download_fail
boot && exit 0 || goto boot_fail
{% endfor %}

:download_fail
echo
echo Download Failure
goto return_menu
:boot_fail
echo
echo Boot Failure
goto return_menu
:dhcp_fail
echo
echo DHCP Failure
goto return_menu
:return_menu
ifclose
sleep ${sleeptime}
goto env_menu
:reboot
echo Rebooting...
ifclose
sleep ${sleeptime}
reboot
:exit
echo Continuing BIOS boot order...
ifclose
sleep ${sleeptime}
exit 1