apiVersion: v1
kind: Namespace
metadata:
  labels:
    kubernetes.io/metadata.name: checkout-backoffice
  name: checkout-backoffice
spec: {}
---
apiVersion: apps/v1
kind: Deployment 
metadata:
  labels:
    app: checkout-backoffice
  name: checkout-backoffice
  namespace: checkout-backoffice 
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: checkout-backoffice
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: checkout-backoffice
    spec:
      containers:
      - image: quay.io/aollebla/checkout-backoffice:latest
        imagePullPolicy: IfNotPresent
        name: checkout-backoffice
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        ports:
        - containerPort: 8080
        env:
        - name: QUARKUS_HTTP_CORS_ORIGINS
          value: "*"
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "192.168.40.208:30092"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: checkout-backoffice-service
  namespace: checkout-backoffice
spec:
  selector:
    app: checkout-backoffice
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: web
  namespace: checkout-backoffice
spec:
  port:
    targetPort: 8080 
  to:
    kind: Service
    name: checkout-backoffice-service
    weight: 10

---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    kubernetes.io/metadata.name: checkout-frontend
  name: checkout-frontend
spec: {}
---
apiVersion: apps/v1
kind: Deployment 
metadata:
  labels:
    app: checkout-frontend
  name: checkout-frontend
  namespace: checkout-frontend 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: checkout-frontend
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: checkout-frontend
    spec:
      containers:
      - image: quay.io/aollebla/checkout-frontend:latest
        imagePullPolicy: IfNotPresent
        name: checkout-frontend
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        ports:
        - containerPort: 8080
        env:
        - name: SYS_INVENTORY_URL
          value: "http://web-checkout-backoffice.apps.192.168.40.208.nip.io/inventory"
        - name: SYS_UPDATES_URL
          value: "http://web-checkout-backoffice.apps.192.168.40.208.nip.io/inventory/updates"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: checkout-frontend-service
  namespace: checkout-frontend
spec:
  selector:
    app: checkout-frontend
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 8080

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: web
  namespace: checkout-frontend
spec:
  port:
    targetPort: 8080 
  to:
    kind: Service
    name: checkout-frontend-service
    weight: 10


 
 