{% raw %}
---
- name: Fetch File Paths from Gitea Repository
  hosts: all
  gather_facts: false

  tasks:
    - name: Download Helm vars file
      shell: |
        curl -k -o helm_var_file.yaml -H {% endraw %} "Authorization: Basic $(echo -n 'student{{ student_number }}:{{ admin_password }}' | base64)" {% raw %}{{ helm_var_file }} 

    - name: Add stable chart repo
      community.kubernetes.helm_repository:
        name: stable
        repo_url: "{{ helm_repo }}"

    - name: Deploy latest version of Grafana chart
      community.kubernetes.helm:
        name: {{ helm_chart_name }}
        values: "{{ lookup('template', 'helm_var_file.yaml') | from_yaml }}"

{% endraw %}