---

{% raw %}
- name: create host in controller
  hosts:
    - all
  gather_facts: false
  pre_tasks:
    - name: set fact when needed
      ansible.builtin.set_fact:
        resource_state: present
      when:
        - resource_state is not defined
    - name: set host facts
      ansible.builtin.set_fact:
        controller_hosts:
          - name: "edge-{{ mac_address }}"
            inventory: Edge Devices
            enabled: true
            state: "{{ resource_state | default('present') }}"
            variables:
              ansible_host: "{{ ip_address }}"
  roles:
    - redhat_cop.controller_configuration.hosts
{% endraw %}