
---
builder_blueprint_name: {{ builder_blueprint_name }}-student{{ student_number }}
builder_request_timeout: 300
builder_wait_compose_timeout: 2400
builder_compose_type: edge-commit
builder_skip_repo: true
builder_compose_pkgs:
  - podman
  - vim-enhanced
  - NetworkManager-wifi
  - "fuse-overlayfs"
  - "setroubleshoot-server"
  - "slirp4netns"
  - "net-tools"
  - "git"
  - "python3-pip"
  - "python3-inotify"
builder_compose_customizations:
  user:
    name: ansible
    password: "{{ admin_password }}"
    groups:
      - users
      - wheel
