---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ ec2_name_prefix }}-router-default
  namespace: openshift-ingress
spec:
  dnsNames:
      - apps.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}
      - "*.apps.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}"
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: zerossl-production
  secretName: router-cert
