name = "fdo-simplified-installer-student{{ student_number }}"
description = "a simplified installer"
version = "0.0.1"
packages = []
modules = []
groups = []
distro = ""

[customizations]
installation_device = "/dev/sda"

[customizations.fdo]
manufacturing_server_url = "http://192.168.1.1"
diun_pub_key_insecure = "true"