<!-- For Workshop_type='rhde_aw_120' -->
print '<div id="section_title"> General Information</div>
Link to workshop exercises: {Insert link from provisioner here}<br>
<br>
<!-- AWS resources -->
If using AWS resources, use the following netowrk information to kickstart:
<table>
    <tr>
        <td>IP Address:</td>
        <td>{IP address here}</td>
    </tr>
    <tr>
        <td>DNS Hostname:</td>
        <td>{Insert hostname here}</td>
    </tr>
</table>
<br>
<!-- Local Resources -->
If using local resources, use the following network information to kickstart:
<table>
    <tr>
        <td>IP Address:</td>
        <td>{IP address here}</td>
    </tr>
    <tr>
        <td>DNS Hostname:</td>
        <td>{Insert hostname here}</td>
    </tr>
</table>
<br>
<br>
<!-- Beginning of workbench information -->
<h2>Workbench Information</h2>
<!-- Information here for AWS Resources: Gitea Access, Image Builder Access, Ansible Controller Access, Hypervisor Access (SSH as well)-->
<div id="section_title">AWS resources</div>
<br>
Source control (Gitea) Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>
Image Builder Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>
Ansible Controller Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>
Hypervisor Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>
Hypervisor SSH Access:
<table>
    <tr>
        <td>Hostname</td>
        <td><code>{Hostname Here}</code></td>
    </tr>
    <tr>
        <td>Username:</td>
        <td><code>{Username here}</code></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><code>{Pass here}</code></td>
    </tr>
</table>
<br>
<!-- Information here for AWS Resources: Gitea Access, Image Builder Access, Ansible Controller Access-->
<div id="section_title">Local resources</div>
<br>
Source control (Gitea) Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>
Image Builder Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>
Ansible Controller Access:
<table>
    <tr>
        <td>WebUI Link</td>
        <td>{Link here}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{Username here}</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>{Pass here}</td>
    </tr>
</table>
<br>'; 