---

- name: hello world testing playbook
  hosts:
    - all
  gather_facts: false
  pre_tasks:
    - name: print out message
      ansible.builtin.debug:
        msg: "Hello student{{ student_number }}, I am a self aware playbook that will test connectivity to your edge nodes."
  tasks:
    - name: test connectivity
      block:
        - name: run the setup module (hopefully successfully
          ansible.builtin.setup:
      rescue:
        - name: let the humans know I failed
          ansible.builtin.debug:
            msg: "Hello student{{ student_number }}, I have unforunately failed to contact your edge nodes. Please let the instructor know."
